<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemObjects.Calendar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RemObjects.Calendar.Properties.Settings>
            <setting name="LDAP_LoginDomain" serializeAs="String">
                <value>dn for a user that can SEARCH the ldap db</value>
            </setting>
            <setting name="LDAP_LdapServer" serializeAs="String">
                <value>ldap.yourserver.com</value>
            </setting>
            <setting name="LDAP_Password" serializeAs="String">
                <value>password for the LDAP_LoginDomain</value>
            </setting>
            <setting name="LDAP_CertHash" serializeAs="String">
                <value />
            </setting>
            <setting name="LDAP_UserSearchBase" serializeAs="String">
                <value>ou=users,dc=yourcompany,dc=com</value>
            </setting>
            <setting name="LDAP_UseSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Server_Port" serializeAs="String">
                <value>2222</value>
            </setting>
            <setting name="LDAP_GroupSearchBase" serializeAs="String">
                <value>ou=groups,dc=yourcompany,dc=com</value>
            </setting>
            <setting name="LDAP_UserFilter" serializeAs="String">
                <value>(objectClass=inetOrgPerson)</value>
            </setting>
            <setting name="LDAP_GroupFilter" serializeAs="String">
                <value>(objectClass=groupOfNames)</value>
            </setting>
            <setting name="DB_ConnectionString" serializeAs="String">
                <value>NPGSQL.NET?Server=YOURSERVER;Database=YOURDB;UserID=YOURUSERNAME;Password=YOURPASSWORD;</value>
            </setting>
        </RemObjects.Calendar.Properties.Settings>
    </userSettings>
</configuration>
